.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    .addTask{
        display: flex;
        justify-content: content;
        align-items: center;
        flex-direction: column;
    }
}
#addtask{
    color: white;
    background-color: maroon;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
    cursor: pointer;

    &:hover{
        background-color: rgb(87, 0, 0);
    }
}
#textval{
    outline: none;
    resize: none;
}