.header{
    width: 100%;
    height: 50px;
    background-color: maroon;
    display: flex;
    justify-content: center;
    align-items: center;

    .link1-div{
        width: 50%;
        .link1{
            text-decoration: none;
            color: white;
            font-size: 20px;
            margin-left: 550px;
          

        }
    }
    .link2-div{
        width: 50%;
        .link2{
            text-decoration: none;
            color: white;
            font-size: 20px;
            margin-left: 100px;
         

        }
    }  
}